<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.app-sandbox</key>
	<true/>
	<key>com.apple.security.temporary-exception.apple-events</key>
	<array>
		<string>com.jamfsoftware.CasperAdmin</string>
		<string>com.jamfsoftware.CasperImaging</string>
		<string>com.jamfsoftware.CasperRemote</string>
		<string>com.jamfsoftware.JamfAdmin</string>
		<string>com.jamfsoftware.JamfImaging</string>
		<string>com.jamfsoftware.JamfRemote</string>
		<string>com.jamfsoftware.Recon</string>
	</array>
	<key>com.apple.security.temporary-exception.files.home-relative-path.read-write</key>
	<array>
		<string>/Library/Preferences/com.ninxsoft.jamfproswitcher.plist</string>
		<string>/Library/Preferences/com.jamfsoftware.jss.plist</string>
	</array>
</dict>
</plist>
